extends _layout
block content
  h2.cover-heading=model.title
  p.lead Hey! I'm Hamed, a CE student and web developer from Iran.
  p Nice to see you here! To support me, either click on the button below to donate the amount of your choice
  p.lead
    a.btn.btn-lg.btn-secondary(href="/donate") 💰 Donate 💰
  h2.cover-heading Or...
  p Buy one of these fancy overpriced items
  .container
    .row
      each product in model.products
        .col-md
          .card.bg-transparent.mb-3
            .card-body
              h3.card-title=product.name
              p
                span.badge.badge-success $#{product.price}
              a.btn.btn-dark.border.border-secondary(href=`/buy/${product._slug}`) More details
            
